//- INFO --
//- INFO --

doctype html
html(lang = 'en')
    head
        meta(charset = 'utf-8')
        link(rel  = 'stylesheet'
             type = 'text/css'
             href = 'css/index.css')
        script(src='js/goban.js')
        script(src='js/index.js')
    body
        canvas
        script(type='text/javascript') main();
